
/* ----- Tabs ------ */
.nav-wrapper {
  padding: 1em 0 0;
  background-color: #335267;
}

li.nav-item {
  color: #D5DFE6;
  border-radius: 5px;
}

li.active.nav-item {
  border-width: 4px 0 0 0;
  border-style: solid;
  border-color: #82CA37;
  border-radius: 5px;
}

li.nav-item:hover {
  cursor: pointer;
  color: #FFFFFF;
}

li.nav-item a.nav-link:hover {
  border-color: transparent;
}

li.nav-item a.active.nav-link{
  color: #335267;
}

li.nav-item:first-child {
  margin-left: 2em;
}

li.nav-item:last-child {
  margin-right: 2em;
}

/* ----- Search ------ */

.input-icons i { 
  position: absolute;
} 

.input-icons {
  margin: 3em 0.5em 2em 0.5em;
  padding: 0 50px;
} 

.icon { 
  padding: 10px; 
  min-width: 40px; 
} 

Input.input-field {
    width: calc(100% - 125px);
    padding: 5px; 
    padding-left: 30px;
    border-width: 1px;
    border-radius: 5px 0 0 5px;
    background-color: #F9FBFC;
    box-shadow: none;
    border-right: none;
}

Input.input-field:focus {
  border-color: #527187;
  background-color: white;
  border-width: 1px;
  outline: 0;
  box-shadow: none;
}

Button.search-button {
  color: #335267;
  background-color: white;
  border-radius: 0 4px 4px 0;
  width: 122px;
}

Button.search-button:hover {
  color: #335267;
  background-color: #FBFCFD;
}

/* Results */

.results-wrapper {
    position: relative;
    margin: 0 3.5em;
    color: #2F4E5F;
}

.results-wrapper-block {
    margin: 2em 0;
}

.loader-wrapper {
    position: absolute;
    width: 101%;
    background: white;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}

.loader-icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 1%;
}

/* Movie */

.type-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.type-title {
  margin-right: 5px;
  color: #15374C;
}

.type-year {
  color: #608092;
}

.movie-extras {
  color: #608092;
}

.extras_hyphen {
  padding: 0 5px;
}

.movie-overview {
  color: #325263;
}

.movie-ratings {
  justify-content: space-between;
}

/* ImageDisplay */
.image-wrapper {
  height: 100%;
}

.image-display {
  height: 100%;
  box-shadow: 2px 5px 5px 2px grey
}

.image-display.missing {
  height: 200px;
  box-shadow: 2px 5px 5px 2px grey
}



/* Ratings */
.ratings {
  width: 10em;
}

.ratings_number {
  width: 11em;
}

/* Preview */

div.modal-dialog.modal-preview {
  width: 675px;
  max-width: 1000px;
}

Button.preview-button {
  background-color: #82CA37;
  color: white;
  border-radius: 30px;
  max-height: 45px;
}

Button.preview-button:hover {
  background-color: #66a82c;
}

Button.preview-button.disabled {
  background-color: #D5DFE6;
  color: #325263;
  cursor: not-allowed;
}

.preview-elements-wrapper {
  display: flex
}

.preview-elements_icon {
  margin-top: 4px;
}

.preview-elements_text {
  margin-left: 5px;
}

/* Person */
.person-name {
  color: #15374C;
}

.person-extras {
  color: #608092;
}

.extras_hyphen {
  padding: 0 5px;
}

.person-overview {
  color: #325263;
}