/* .App { */
  /* text-align: center; */
/* } */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ----- Tabs ------ */
.nav-wrapper {
  padding: 3em 0 0;
  background-color: #335267;
}

li.nav-item {
  color: #D5DFE6;
  border-radius: 5px;
}

li.active.nav-item {
  border-width: 4px 0 0 0;
  border-style: solid;
  border-color: #82CA37;
  border-radius: 5px;
}

li.nav-item:hover {
  cursor: pointer;
  color: #FFFFFF;
}

li.nav-item a.nav-link:hover {
  border-color: transparent;
}

li.nav-item a.active.nav-link{
  color: #335267;
}

li.nav-item:first-child {
  margin-left: 2em;
}

li.nav-item:last-child {
  margin-right: 2em;
}

/* ----- Search ------ */

.input-icons i { 
  position: absolute;
} 

.input-icons {
  margin: 3em 0.5em 2em 0.5em;
  display: flex;
  flex-direction: row;
  padding: 0 50px;
} 

.icon { 
  padding: 10px; 
  min-width: 40px; 
} 

.input-field { 
  width: 100%; 
  padding: 5px; 
  padding-left: 30px;
  border-width: 1px;
  border-radius: 5px 0 0 5px;
  background-color: #F9FBFC;
  box-shadow: none;
} 

.input-field:focus {
  border-color: #527187;
  background-color: white;
  border-width: 1px;
  outline: 0;
  box-shadow: none;
}

Button.search-button {
  color: #335267;
  background-color: white;
  border-radius: 0 5px 5px 0;
  height: 36px;
  width: 122px;
}

Button.search-button:hover {
  color: #335267;
  background-color: #FBFCFD;
}

/* Results */

.results-wrapper {
  margin: 0 3.5em;
  color: #2F4E5F;
}

.results-wrapper-block {
  margin: 2em 0;
}

/* Movie */

.movie-title {
  margin-right: 5px;
  color: #15374C;
}

.movie-year {
  color: #608092;
}

.movie-extras {
  color: #608092;
}

.extras_hyphen {
  padding: 0 5px;
}

.movie-overview {
  color: #325263;
}

.movie-ratings {
  justify-content: space-between;
}

/* ImageDisplay */
.image-wrapper {
  height: 100%;
}

.image-display {
  height: 100%;
}

/* Ratings */
.ratings {
  width: 10em;
}

.ratings_number {
  width: 11em;
}

/* Preview */

Button.preview-button {
  background-color: #82CA37;
  color: white;
  border-radius: 30px;
  max-height: 45px;
}

Button.preview-button:hover {
  background-color: #66a82c;
}

Button.preview-button.disabled {
  background-color: #D5DFE6;
  color: #325263;
  cursor: not-allowed;
}

.preview-elements-wrapper {
  display: flex
}

.preview-elements_icon {
  margin-top: 5px;
}

.preview-elements_text {
  margin-left: 5px;
}

/* Person */
.person-name {
  color: #15374C;
}

.person-extras {
  color: #608092;
}

.extras_hyphen {
  padding: 0 5px;
}

.person-overview {
  color: #325263;
}



/* .preview-play {
  margin-right: 5px;
} */
/* default */
/* 82CA37 */

/* :hover */
/* 66A82C */

/* unavailable */
/* D5DFE6 */
/* cursor: not-allowed; */
